[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
    ignore = dirty
[submodule "xdot"]
	path = xdot
	url = https://github.com/jbohren/xdot
    ignore = dirty
[submodule "pi_trees"]
	path = pi_trees
	url = https://github.com/ShotaAk/pi_trees
    ignore = dirty
