<launch>
  <!-- Run Vision -->
  <node name="receiver" pkg="grsim_wrapper" type="detection.py" required="true">
    <param name="multicast_addr" type="string" value="224.5.23.2" />
    <param name="multicast_port" value="10006" />
  </node>

  <!-- Run Sender -->
  <node name="sender" pkg="real_sender" type="real_sender_node" required="true">
      <!-- <remap from="/robot_0/robot_commands" to="/ssl_joy/ssl_joystick/robot_commands" /> -->
  </node>
</launch>
