<launch>
  <arg name="ai_name" default="/" />

  <arg name="number" />
  <group ns="robot_$(arg number)">
    <param name="ai_name" type="string" value="$(arg ai_name)" />

    <node name="observer" pkg="world_observer" type="world_observer" required="true">
      <param name="observe_target" type="string" value="Friend" />
      <param name="observe_target_id" type="int" value="$(arg number)" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="friend_$(arg number)_odom" args="0 0 0 0 0 0 1 map friend_$(arg number)/odom 100" required="true"/>
    <node name="trapezoidal_control" pkg="trapezoidal_control" type="trapezoidal_control_node" required="true"/>

    <node name="ai_controller" pkg="ai_controller" type="ai_controller.py" required="true"/>
    <node name="velocity_transformer" pkg="velocity_transformer" type="velocity_transformer.py" required="true"/>

  </group>

  <!-- <node name="vel_plots" pkg="rqt_plot" type="rqt_plot" -->
  <!-- args="/robot_$(arg number)/cmd_vel_world/linear/x     -->
  <!-- /robot_$(arg number)/cmd_vel_world/linear/y           -->
  <!-- /robot_$(arg number)/odom/twist/twist/linear/x        -->
  <!-- /robot_$(arg number)/odom/twist/twist/linear/y" />    -->
</launch>
