<library path="src">
  <class name="Visualizer" type="sai_visualizer.visualizer.Visualizer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying CON-SAI information.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>

      <label>SAI-Visualizer</label>
      <icon type="theme">video-display</icon>
      <statustip>A Python GUI for displaying CON-SAI information.</statustip>
    </qtgui>
  </class>
</library>
